<% include partials/header.ejs %>

<h1><%= campground.name %></h1>

<p><img src="<%= campground.image %>"></p>

<p>Description: <%= campground.description %></p>

<p><a href="/campgrounds">Back to campgrounds...</a></p>

<% include partials/footer.ejs %>
