<html>
<head>
<title>Love Page</title>
</head>
<body>
<h1>Looks like you love: <%= thing %> </h1>

<% if (thing.toLowerCase() == "casey") { %>
<p>Good choice, Casey is the BEST!</p>
<% } %>

</body>
</html>
