<html>
<head>
<title>Loopy</title>
<link rel="stylesheet" href="app.css">
</head>
<body>
<ul>
<% posts.forEach(function(post) { %>
<li>"<%= post.title %>" by <%= post.author %></li>
<% }) %>
</ul>
<body>
<html>
