<h1>Signup Form</h1>

<p>Welcome to the incredibly sexy signup form... please enter a username and password below:</p>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>
